<div>
    <div class="md:grid md:grid-cols-3 md:gap-6 mt-10 sm:mt-0">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium text-gray-900">Update Password</h3>
                <p class="mt-1 text-sm text-gray-600">Ensure your account is using a long, random password to stay secure.</p>
            </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            {{ form_start(password_form) }}
            <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 bg-white sm:p-6">
                    {% if password_updated %}
                        <div
                                x-data="{animate: true}"
                                x-show="animate"
                                x-transition:leave="transition ease-in duration-1000"
                                x-transition:leave-start="opacity-100 transform scale-100"
                                x-transition:leave-end="opacity-0 transform scale-90"
                                @mouseleave="animate = false"
                                class="block font-sm bg-green-300 rounded py-2 px-2 mb-4"
                        >
                            <p class="mt-1 text-sm text-gray-800">Your password has been changed successfully.</p>
                        </div>
                    {% endif %}
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-4">
                            {{ form_label(password_form.oldPassword, null, {
                                'label_attr': {
                                    'class': 'block font-medium text-sm text-gray-700'
                                }
                            }) }}
                            {{ form_widget(password_form.oldPassword, {
                                'attr': {
                                    'class': 'form-input rounded-md shadow-sm mt-1 block w-full',
                                    'autocomplete': 'current-password'
                                }
                            }) }}
                            <div class="mt-2">
                                {% for error in password_form.oldPassword.vars.errors %}
                                    <p class="text-sm text-red-600">{{ error.message }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-span-6 sm:col-span-4">
                            {{ form_label(password_form.newPassword.first, null, {
                                'label_attr': {
                                    'class': 'block font-medium text-sm text-gray-700'
                                }
                            }) }}
                            {{ form_widget(password_form.newPassword.first, {
                                'attr': {
                                    'class': 'form-input rounded-md shadow-sm mt-1 block w-full',
                                    'autocomplete': 'new-password'
                                }
                            }) }}
                            <div class="mt-2">
                                {% for error in password_form.newPassword.first.vars.errors %}
                                    <p class="text-sm text-red-600">{{ error.message }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-span-6 sm:col-span-4">
                            {{ form_label(password_form.newPassword.second, null, {
                                'label_attr': {
                                    'class': 'block font-medium text-sm text-gray-700'
                                }
                            }) }}
                            {{ form_widget(password_form.newPassword.second, {
                                'attr': {
                                    'class': 'form-input rounded-md shadow-sm mt-1 block w-full',
                                    'autocomplete': 'new-password'
                                }
                            }) }}
                            <div class="mt-2">
                                {% for error in password_form.newPassword.second.vars.errors %}
                                    <p class="text-sm text-red-600">{{ error.message }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-end px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <button type="submit" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray transition ease-in-out duration-150">
                        Save
                    </button>
                </div>
            </div>
            {{ form_end(password_form) }}
        </div>
    </div>
    <div class="hidden sm:block">
        <div class="py-8">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
</div>