<div class="relative">
    <div>
        <div @click="open = true" class="navbar-item">
            <span>{{ app.user.username }}</span>
            <div class="ml-1 mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-4 w-4">
                    <path fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>

    <div x-show="open" @click.away="open = false" class="dropdown" style="display: none;">
        <div class="dropdown-items">
            <div>
                <span class="dropdown-meta">{{ 'account.manage'|trans }}</span>
            </div>
            <div>
                <a href="{{ path('user_settings') }}" class="dropdown-item">{{ 'account.settings'|trans }}</a>
            </div>
            <div class="border-t border-gray-100"></div>
            <div>
                <a href="{{ path('user_logout') }}" class="dropdown-item">{{ 'account.logout'|trans }}</a>
            </div>
        </div>
    </div>
</div>
